<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .register__page {
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .logo {
        width: 100px;
        object-fit: contain;
        margin: 20px auto 20px auto;
      }
      .create__account {
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 20px;
      }
      .create__account > form > input {
        border-radius: 5px;
        height: 30px;
        margin-bottom: 10px;
        background-color: white;
        width: 98%;
      }
      .register__button {
        border-radius: 5px;
        background-color: #008df6;
        border-color: #2196f3;
        border-radius: 2px;
        width: 100%;
        height: 30px;
        border: 1px solid;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <section class="register__page">
      <img
        class="logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgv_1fAMBxlGwzn6zQvpWU3zZAKWRjkSTaEIHIhkyEBGB22ISdojaGLziA1GSe-b_pRZc&usqp=CAU"
        alt="..."
      />
      <div class="create__account">
        <h1>Login</h1>
        <ul>
          <% if(messages.success_msg) { %>
          <li><%= messages.success_msg %></li>
          <% } %>
        </ul>

        <form action="/users/login" method="POST">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            required
          />
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
          />
          <ul>
            <% if (typeof errors != 'undefined') { %> <% errors.forEach(error =>
            { %>
            <li><%= error.message %></li>
            <% }) %> <% } %>
          </ul>
          <ul>
            <% if (messages.error) { %>
            <li><%= messages.error %></li>
            <% } %>
          </ul>
          <button class="register__button">Login</button>
          <p>Don't have an account? <a href="/users/register">Register</a></p>
        </form>
      </div>
    </section>
  </body>
</html>
